<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <appSettings>
    <add key="pop3.server" value="pop3.server.com" />
    <add key="pop3.username" value="login" />
    <add key="pop3.password" value="password" />
    <add key="smtp.server" value="smtp.server.com" />
    <add key="mailbox" value="C:\Wasteland\mailbox" />
    <add key="temp" value="C:\Wasteland\temp" />
    <add key="delete-messages" value="True" />
    <add key="game.xml" value="C:\Wasteland\turn\gamein.xml" />
    <add key="from" value="wasteland@server.com" />
    <add key="archiver" value="C:\Progra~1\7-zip\7z.exe" />
    <add key="engine" value="C:\Wasteland\Wasteland.exe" />
    <add key="engine.args" value="/data C:\Wasteland\data.xml /turn-dir C:\Wasteland\turn" />
    <add key="gamedir" value="C:\Wasteland" />
    <add key="sleep" value="00:15:00" />
    <add key="turn1" value="2" />
    <add key="turn2" value="5" />
    <add key="run-turn" value="True" />
  </appSettings>
</configuration>
